@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkGreen :#096e8d;
    --lightGreen:#5bd0a4;
}
body{
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    background-image:url(images/wallpaper.jpg);
    background-color: rgb(0, 0, 0, .8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: white;
    position: relative;
}
.blur{
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: absolute;
   z-index: -2;  
}
    a:hover{
        color: white;
    }

a{
    text-decoration: none;
    color: white;
}

html{
    font-size: 19px;
}
nav{
    background-color:  rgb(39, 39, 39, .4);
    width: 100%;
}
.nav-logo{
    height: 2.2rem;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0 .2rem;
}
nav li a{
    background-image: linear-gradient(to  right, var(--lightGreen), var(--darkGreen));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 2px;
    transition: background 400ms ease;
}
.active-nav{
    font-weight: bolder;
    background-size: 100% 3px;
}
nav li a:hover{
    background-size: 100% 3px;
    color: whitesmoke;
    cursor: pointer;
}
p{
    margin: 0;
}
nav .fa-solid{
    color: white;
    font-size: 1rem;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
}
.cart, .wishlist{
    background-color: var(--lightGreen);
}
.search-button{
    width: 25%;
    height: 2.5rem;
}
.search-button button{
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,.4);
}
.search-button i{
    color: whitesmoke;
}
.search-button input{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,.3);
    color: white;
    padding-left: .5rem;
    /*Change Blinking cursor in Search bar to white*/
    caret-color: white;
}
.cart-container{
    color: white;
}
.remove-container{
    color: white;
}
.product-name{
    font-size: 1.6rem;
    color: white
}
.slashed-price{
    text-decoration: line-through;
    color: rgba(245, 245, 245, 0.6);
    font-weight: bold;
}
.discount{
    gap: .5rem;
}
.percent-off{
    background-color: firebrick;
    text-align: center;
}
.product-price{
    color: white;
    font-size: 1.6rem;
}
.outer-container img {
    height: 10rem;
    width: 8rem;
}
.outer-container{
    background-color:  rgb(39, 39, 39, .5);
}

.second {
    flex-direction: row;
}


.last {
    justify-content: space-between;
}


.inc-btn, .dec-btn{
    background-color: rgb(32, 32, 32, 0);
    border: 1px solid white;
    border-radius: 50px;
    width: 1.5rem;
    color: white;
}
.counter{
    gap: .5rem;
}
.remove{
    gap: .5rem;
    text-decoration: underline;
    color: darkgray;
}
.remove a:hover{
    color: white;
}
.buy-now{
    background-image: linear-gradient(to  right, var(--lightGreen),var(--darkGreen));
    color: white;
    border: 0;
    outline: 0;
}
.buy-now:hover{
    transform: scale(.96);
    color: white;
   filter: brightness(95%);
   transition: all ease-in-out 200ms ;
}

/* FOOTER*/

.app{
    background-color: none;
}
.app img{
   height: 1.8rem; 
}
.app a{
    border: 1px white solid;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: color .4s ease-in-out, box-shadow .5s ease-in-out;
}
.app a:active, .app a:hover{
    border: 1px white solid;
    color: var(--lightGreen);
    box-shadow: inset 17rem 0 0 0 white;
}

footer{
    background-color: rgb(20, 20, 20, .9);
    color: rgb(165, 165, 165);
}
footer span{
    color: white;
}
footer i {
    font-size: 1.5rem;
}
footer .to-top i{
    font-size: 2rem;
}
footer a:hover{
    color: var(--lightGreen);
}
footer li{
    margin: .4rem 0;
}
footer li > img{
    height: 2.3rem;
}

footer input{
    width: 100%;
    border: 0;
    outline: 0;
}
footer button{
    border: 0;
    outline: 0;
    background-image: linear-gradient(to right, var(--lightGreen), var(--darkGreen) );
    color: white;
}

footer div{
    width:100%;
}
footer .logo{
    height: 3.2rem;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


@media(max-width:575px){
    html{
        font-size: 14px;
    
    }
    .outer-container img {
        height: 8rem;
        width: 6rem;
    }
    footer .logo{
        display: block;
       margin: auto;
    }
    .app{
        background-color: rgb(0, 0, 0, .5);;
    }
}  
    @media(min-width:576px) and (max-width:768px) {
        html{
            font-size: 16px;
        }
        footer .logo{
            display: block;
           margin: auto;
        }
        .app{
            background-color: rgb(0, 0, 0, .5);;
        }
}