@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkGreen :#096e8d;
    --lightGreen:#5bd0a4;
}
body{
background-color:  rgb(32, 32, 32);
font-family: 'Kanit', sans-serif;
overflow-x: hidden;
}


a{
    text-decoration: none;
    color: white;
}

html{
    font-size: 19px;
}
nav{
    background-color: rgb(39, 39, 39);
    width: 100%;
}
.nav-logo{
    height: 2.2rem;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0 .2rem;
}
nav li a{
    background-image: linear-gradient(to  right, var(--lightGreen), var(--darkGreen));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 2px;
    transition: background 400ms ease;
}
.active-nav{
    font-weight: bolder;
    background-size: 100% 3px;
}
nav li a:hover{
    background-size: 100% 3px;
    color: whitesmoke;
    cursor: pointer;
}
p{
    margin: 0;
}
nav .fa-solid{
    color: white;
    font-size: 1rem;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
}
.cart, .wishlist{
    background-color: var(--lightGreen);
}
.search-button{
    width: 25%;
    height: 2.5rem;
}
.search-button button{
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,.4);
}
.search-button i{
    color: whitesmoke;
}
.search-button input{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,.3);
    color: white;
    padding-left: .5rem;
    /*Change Blinking cursor in Search bar to white*/
    caret-color: white;
}
.carousel{
    width: 100%;
    height: 30rem;
    
    position: relative;
}
.carousels{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    color: #096e8d;
}
.carousels:hover .carousel-img{
    transition: filter ease-in-out 300ms;
    filter: brightness(70%);
}

.carousel-items{
    width: 100%;
    height: 30rem;
    position: relative;
}

.show-item{
    animation: fade 2000ms forwards;
    visibility: visible;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.carousel-items img{
position: absolute;
object-position: center;
width: 100%;
height: 100%;
}
.carousel-info{
position: absolute;
bottom:0;
width: 100%;
background-image: linear-gradient(to top, black, rgb(0, 0, 0, 0.7),rgb(0, 0, 0, 0.5), rgb(0, 0, 0,0));
}
.carousel-info .buy-now{
    background-image: linear-gradient(to right, var(--lightGreen), var(--darkGreen) );
    font-weight: bold;
    font-size: 1rem;
}
.carousel-info .buy-now:hover{
    color: white;
   filter: brightness(60%);
}
.carousel-info .add{
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: color .4s ease-in-out, box-shadow .5s ease-in-out;
}
.carousel-info .add:hover {
color: #096e8d;
box-shadow: inset 17rem 0 0 0 white;
  }

.carousel-info .product-name{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.carousel-info .now{
    color: white;
    font-weight: bold;
    display: inline-block;
}
.carousel .off{
    color: white;
    background-color: firebrick;
    font-size: .9rem;
}
.carousel .product-price{
    color: white;
    font-size: 2.5rem;
}
.carousel-btn{
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 40%;
}
.carousel-btn button{
    opacity: .3;
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,0);
}
.carousel-btn button:hover{
    opacity: 1;
    border: 0;
    outline: 0;
    background-color: rgba(0,0,0,0);
}
.carousel-btn button i{
    font-size: 2rem;
    color: white;
}

.services img{
    display: block;
    margin: 0 auto;
    height: 4rem;
}
.services p{
font-size: .9rem;
text-align: center;
color: white;
margin: .5rem 0;
font-style: italic;
font-weight: bold;
}
.product{
    width: 10rem;
    margin: .9rem;
    filter: brightness(85%);
}
.product:hover{
    filter: brightness(100%);
}

.product-image{
    height: 13rem;
    width: 10rem;
    margin: .5rem 0;
    position: relative;
}

.product-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: top;
}
.product:hover .product-image>img{
    transform: scale(1.05) rotate(-3deg);
    transition: transform ease-in-out 300ms;
}
.product-details{
    color: white;
}
.addCart{
    outline: 0;
    border: 0;
    color: white;
    background-image: linear-gradient(to right, var(--lightGreen), var(--darkGreen) );
}
.addCart:hover{
    filter: brightness(70%);
}
.percent-off{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: white;
    background-color: rgba(178, 34, 34, .7);
    margin: .5rem;
}
.slashed-price{
    text-decoration: line-through;
    color:coral;
    font-weight: bold;
    font-size: .8rem;
}
.price{
    font-weight: bold;
    font-size: 1.3rem;
}
.slick-next{
    top: 40%;
}
.slick-prev{
    top: 40%;
}
.slick-next::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f105";
    font-size: 1.8rem;
    right: 0;
}
.slick-prev::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f104";
    font-size: 1.8rem;
    left: 0;
}
h3{
    color: white;
}
h3 i{
    font-size: .9rem;
}







@media(max-width:575px){
html{
    font-size: 13px;
}
.carousel{
    height: 27rem;
}

.carousel-items{
    height: 27rem;
}
.carousel-info .buy-now{
    font-size: .8rem;
}
.carousel-info .add{
    border: 1px solid var(--lightGreen);
    font-size: .6rem;
}
.carousel-info .product-name{
    font-size: 1.8rem;
}

.carousel .product-price{
    font-size: 1.4rem;
}
}

@media(min-width:576px) and (max-width:768px){
    html{
        font-size: 15px;
    }
    .carousel{
        width: 100%;
        height: 25rem;
        margin: 0 auto;
    }
    
    .carousel-items{
        width: 100%;
        height: 25rem;
    }
}
@media(min-width: 769px){
    .content{
        width: 82%;
        margin: 0 auto;
    }
}

/* start of timi's CSS; thread carefully, danger ahead! */
.categories{
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}
.category-link:hover{
    transition: all ease-in-out 200ms;
    color: var(--lightGreen);
}
.active-category{
    color: var(--lightGreen);
    font-weight: bold;
   border-bottom: var(--lightGreen) 4px solid;
   border-radius: 5px;
   font-size: 1.5rem;
}
.active-category:hover{
    color: var(--lightGreen);
    color:white;
 }
.slider-container{
    animation: Slidein 700ms forwards;
 }
 .newCategory{
    animation: Slidein 700ms forwards;
}
.soonCategory{
    display: none;
    animation: Slidein 700ms forwards;
}
.topCategory{
    display: none;
    animation: Slidein 700ms forwards;
}
@keyframes Slidein{
    0%{
        transform: translateX(100%);
        opacity: 0.7;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}